/* null margins and padding to give good cross-browser baseline */
html, body, address, blockquote, div,
form, fieldset, caption,
h1, h2, h3, h4, h5, h6,
hr, ul, li, ol, ul,
table, tr, td, th, p, img {
	margin: 0;
	padding: 0;
}



img, fieldset {
	border: none;
}

/* global CSS variables */
:root {
    --primary-color: #0c0416;
    --accent-color: #4e1890;
    --font-color:#541821;
}

body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: #ffffff; */
    color: var(--primary-color);
    box-sizing: content-box;
    /* background-image: radial-gradient(circle at 1px 1px, black 1px, transparent 0);
    background-size: 40px 40px; */
}

css-doodle{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

h1, h2 {
    text-align: center;
    padding: 0.5em;
    color:var(--font-color);
    text-transform: capitalize;
}

header{
    min-height: fit-content;
    padding-bottom: 5rem;
    position: relative;
}

.logo-container{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding-bottom: 3rem;
    position: relative;
}

.logo-container > img{
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    margin: auto;
    object-fit: cover;
    max-width: 8rem;
    padding:0.5rem 3rem;
}


header {
    height: 6.25em;
    position: relative;
}

hr {
    color: var(--primary-color);
}

dt {
    font-weight: bold;
}

main {
    max-width: 98vw;
    margin: auto;
}

.title-panel {
    color: var(--accent-color);
    position: relative;
    border:1px #541821 solid;
    padding:0.5rem 2rem;
    margin:auto;
    max-width: fit-content;
    font-size: 2rem ;
    margin-bottom: 2rem;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    background-color: white;
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    gap: 1rem;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-right: 0.62em;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

main > section {
    min-height: 18.75em;
}

/* main > section > h1 {
    text-transform: uppercase;
} */

section:nth-child(1) {
    margin-bottom: 1em;
}

section[aria-label="Create a wishlist"] {
    margin-top: 1em;
}

/* styles for wishlist */

.wishlists {
    background-color: white;
    min-height: 25em;
    height: 65vh;
    overflow-y: scroll;

    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    border:1px #541821 solid;
}

.wishlists > li {
    list-style-type: none;
}

.wishlist {
    min-height: 6.25em;
    background: #F5F5F5;
    margin:  0.6em 0.6em 0.6em 0.6em;
    padding: 0.3em 1.25em 0.3em 1.25em;

    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    cursor: pointer;

    text-transform:capitalize;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    border:1px #541821 solid;
}

.wishlist:hover {
    box-shadow: 1px 1px 5px var(--accent-color);
}

.wishlist h1 {
    padding: 0.5em;
    font-size: 1.2em;
}

.wishlist ul {
    padding: 0.5em;
    padding-inline: 1.5em;
}

.wishlist > section.actions > button {
    color: transparent;
}

.wishlist.accepted {
    opacity: 0.7;
}

.wishlist.fulfilled {
    opacity: 0.5;
    box-shadow: none;
}

.wishlist h1 {
    text-align: left;
}

.wishlist > section:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 4 1 0;
    -ms-flex: 4 1 0;
    flex: 4 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    margin-right: 0.62em;
    border-right: solid #EEEEEE;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.wishlist > section:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.wishlist > section.actions {
    padding: 0.62em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist > section.actions > button {
    width: 2.3em;
    height: 2.3em;
    border: none;
}

button.accept {
    background: url("../icons/run.svg") 100% 0 no-repeat;
}

button.accepted {
    background: url("../icons/man-holding-shopping-basket.svg") 100% 0 no-repeat;
}

button.fulfilled {
    background: url("../icons/done.svg") 100% 0 no-repeat;
}

/* styles for tabs */

.tabset > input {
    display: block; /* "enable" hidden elements in IE/edge */
    position: absolute; /* then hide them off-screen */
    left: -100%;
}

.tabset > ul {
    position: relative;
    z-index: 999;
    list-style: none;
    display: flex;
    margin-bottom: -1px;
    /* text-transform: uppercase; */
}

.tabset > ul > li {
    display: inline-block; /* show labels in line */

    border: 1px solid var(--accent-color);
    background: #F5F5F5;
    padding: 0.25em 0.75em;
    border-radius: 0.25em 0.25em 0 0;
    position: relative;
    top: 1px;
}

.tabset > input:nth-child(1):checked ~ ul li:nth-child(1),
.tabset > input:nth-child(2):checked ~ ul li:nth-child(2),
.tabset > input:nth-child(3):checked ~ ul li:nth-child(3) {     /* white background for selected tab */
    background: #FFFFFF;
    border-bottom: 1px solid transparent;
}

.tabset > input:nth-child(1):focus ~ ul li:nth-child(1),
.tabset > input:nth-child(2):focus ~ ul li:nth-child(2),
.tabset > input:nth-child(3):focus ~ ul li:nth-child(3) {     /* white background for selected tab */
    background: #FFFFFF;
    border-bottom: 1px solid transparent;
}

.tabset > div > section {
    position: absolute;
    top: -999em;
    left: -999em;
    border-top: 1px solid var(--accent-color);
}

.tabset > input:nth-child(1):checked ~ div > section:nth-child(1),
.tabset > input:nth-child(2):checked ~ div > section:nth-child(2),
.tabset > input:nth-child(3):checked ~ div > section:nth-child(3) {
    position: static;
}

/* End of Tab styles */

#my-wishlists:empty::before {
    content: "Looks like you don't have any! Try adding a wishlist";
    color: grey;
}

#my-trips:empty::before {
    content: "Would you like to help a neighbor out? Pick one of the wishes nearby you!";
    color: grey;
}

button#add-wishlist {
    border-color: var(--accent-color);
    margin:auto;
    background-color: white;
    padding: 0.5rem 1.5rem;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
    border:1px #541821 solid;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    /* text-transform: uppercase; */
}

input#wishlist-items {
    margin: 0.5em 0 ;
    padding: 0.5rem 1.5rem;
}

button#add-wishlist:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

/* map and marker styles */

#map {
    min-height: 31.25em;
    height: 75vh;
}

.marker {
    background: url("/home/icons/marker.png") 100% 0 no-repeat;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.store {
    background: url("../icons/shopping-cart.svg") 100% 0 no-repeat;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.mapboxgl-popup {
    padding-top: 1em;
    padding-bottom: 1em;
}

details > summary > h2 {
    display: inline-block;
}

